
.upcomingWorkshop,
.uniquePlants {
  display: flex;
  justify-content: space-between;
}

.upcomingWorkshopImg {
  position: relative;
  right: calc(20% - 10px);
  bottom: 50px;

  img {
    box-shadow: 20px 20px 0 -5px $secondary;
  }
}

.upcomingWorkshopText {
  position: relative;
  right: 20px;
  
  h6 {
    margin: 75px 0 25px 0;
  }
}

.uniquePlantsImg {
  position: relative;
  left: calc(20% - 10px);
  top: 100px;

  img {
    box-shadow: -20px 20px 0 -5px $secondary;
  }
}

.uniquePlantsText {
  text-align: right;
  position: relative;
  left: 40px;
  padding-bottom: 50px;
}
