nav ul {
  display: flex;
  align-items: center;
  padding: 25px 0 15px 0;

  li {
    list-style: none;
    align-items: center;

    p {
      font-family: $headingFont;
      margin: 0;
      padding: 0 25px 0 0;
      font-size: 2rem;
      color: $solidWhite;
    }

    a {
      padding: 25px;
      color: $solidWhite;
      font-weight: bold;

      &:hover,
      &:focus {
        color: $secondary;
      }
    }
  }
}