// COLOURS

// black (primary text): #2C2C2C
// off-white(some backgrounds): #F0EFED
// forest green (sparesly used on blog): #074115
// sunny yellow (some text, hover text, background on pictures) : #F8E71C
// green (buttons): #0E902D

// white (nav / title text): #fff

$headingFont: "Josefin Sans";
$bodyFont: "Roboto";

$primaryText: #2c2c2c;
$solidWhite: #fff;
$buttons: #0e902d;
$backgroundColor: #F0EFED;
$secondary: #F8E71C;
$blogGreen: #074115;