html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 125%;
}

body {
  font-family: "Roboto";
  font-size: 1rem;
  color: #2c2c2c;
}

h2, h3, h4, h5, h6, button {
  font-family: "Josefin Sans";
  font-weight: bold;
}

h1 {
  font-family: "Josefin Sans";
  font-size: 8.3rem;
}

h2 {
  font-size: 4rem;
  line-height: 4.6rem;
}

h3 {
  font-size: 2.815rem;
  letter-spacing: 0.065rem;
}

h4 {
  font-size: 2.15rem;
  letter-spacing: 0.065rem;
}

h5 {
  font-size: 2.1rem;
  letter-spacing: 0.05rem;
}

h6 {
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
}

button, a {
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.05rem;
}

ul, li, a, input {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

p {
  font-size: 1rem;
  line-height: 1.6rem;
}

.wrapper {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}

button {
  background-color: #0e902d;
  border: none;
  padding: 10px 30px;
  color: #fff;
  margin-top: 25px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0 15px 0;
}
nav ul li {
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav ul li p {
  font-family: "Josefin Sans";
  margin: 0;
  padding: 0 25px 0 0;
  font-size: 2rem;
  color: #fff;
}
nav ul li a {
  padding: 25px;
  color: #fff;
  font-weight: bold;
}
nav ul li a:hover, nav ul li a:focus {
  color: #F8E71C;
}

header {
  background-image: url(../planted-final-assets/planted-final-assets/home-image-1.jpg);
  height: 100vh;
  width: 100%;
}

h1 {
  margin-top: 200px;
  padding-left: 200px;
  color: #fff;
}
h1 span {
  color: #F8E71C;
}

.imgContainer {
  position: absolute;
  right: 0;
  top: 200px;
}

.zIndexH1 {
  position: relative;
  z-index: 10;
}

.about {
  background-color: #F0EFED;
}

.whatIsPlanted {
  padding: 300px 0;
  text-align: center;
}
.whatIsPlanted h3 {
  margin: 25px 0;
}

.upcomingWorkshop,
.uniquePlants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.upcomingWorkshopImg {
  position: relative;
  right: calc(10% - 10px);
  bottom: 50px;
}
.upcomingWorkshopImg img {
  -webkit-box-shadow: 20px 20px 0 -5px #F8E71C;
          box-shadow: 20px 20px 0 -5px #F8E71C;
}

.upcomingWorkshopText {
  position: relative;
  right: 20px;
}
.upcomingWorkshopText h6 {
  margin: 75px 0 25px 0;
}

.uniquePlantsImg {
  position: relative;
  left: calc(10% - 10px);
  top: 100px;
}
.uniquePlantsImg img {
  -webkit-box-shadow: -20px 20px 0 -5px #F8E71C;
          box-shadow: -20px 20px 0 -5px #F8E71C;
}

.uniquePlantsText {
  text-align: right;
  position: relative;
  left: 40px;
  padding-bottom: 50px;
}

.widget {
  background-color: #F0EFED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0 100px 75px;
}
.widget li {
  list-style: none;
}
.widget li h6 {
  margin: 75px 0 25px 0;
}
.widget li i {
  position: relative;
  top: 115px;
  right: 75px;
  height: 50px;
  line-height: 50px;
  width: 50px;
  background-color: #F8E71C;
  border-radius: 50%;
  text-align: center;
  color: #2c2c2c;
}

.row1,
.row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.community,
.getInTouch {
  padding-left: 75px;
}

.founder {
  background-color: #F0EFED;
}

.founder .wrapper {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.founderText {
  max-width: 60%;
}
.founderText h5 {
  margin: 15px 0;
}

.founderImg img {
  -webkit-box-shadow: 20px 20px 0 -5px #F8E71C;
          box-shadow: 20px 20px 0 -5px #F8E71C;
}

.imgSection {
  background-color: #F0EFED;
}
.imgSection img {
  max-width: 100%;
}

.gallery {
  padding: 100px 0;
}

.galleryContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.galleryContainer ul li {
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.galleryContainer ul li img {
  max-width: 95%;
}

footer {
  background-color: #2c2c2c;
  color: #fff;
}
footer p {
  text-align: center;
  margin: 0;
  padding: 5px 0;
}

.contact {
  background-image: url(../planted-final-assets/planted-final-assets/contact-header-1.jpg);
  background-size: cover;
}
.contact h2 {
  color: #F8E71C;
  margin: 50px 0;
}
.contact .zIndexH1 {
  position: absolute;
  bottom: 0;
}

.contactArea {
  background-color: #F0EFED;
}
.contactArea .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 200px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactArea .formContainer {
  width: 50%;
  position: absolute;
  top: 70vh;
  right: 10%;
  max-width: 1100px;
  background-color: #fff;
  -webkit-box-shadow: -20px 20px 0 -5px #F8E71C;
          box-shadow: -20px 20px 0 -5px #F8E71C;
}

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
}
.contactForm button {
  margin-top: 50px;
}

.formDiv {
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.formDiv .name,
.formDiv .email {
  width: 48%;
  border: none;
  border-bottom: 2px solid #0e902d;
}

textarea {
  border: 2px solid #0e902d;
}

textarea,
.name,
.email {
  line-height: 50px;
  padding-left: 25px;
}

.address i {
  padding-right: 15px;
  color: #0e902d;
  font-size: 1.2rem;
}
.address .emailAddress {
  font-family: "Josefin Sans";
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.blogPage {
  background-image: url(../planted-final-assets/planted-final-assets/blog-header-1.jpg);
  background-size: cover;
}
.blogPage h2 {
  color: #F8E71C;
  margin: 25px 0;
}
.blogPage .zIndexH1 {
  position: absolute;
  bottom: 100px;
}

.blogMain {
  background-color: #F0EFED;
}

.blogImg .imgContainer {
  position: absolute;
  max-width: 60%;
  top: 400px;
}
.blogImg .imgContainer img {
  max-width: 100%;
  -webkit-box-shadow: -18px 18px 0 -5px #F8E71C;
          box-shadow: -18px 18px 0 -5px #F8E71C;
}

.flexWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}

.sidebarSection {
  width: 35%;
}
.sidebarSection .sidebar {
  background-color: #fff;
  width: 77.5%;
  margin-top: 150px;
}
.sidebarSection .sidebar .sidebarSpacing {
  padding-left: 25px;
}
.sidebarSection .sidebar .sidebarTitle {
  font-family: "Josefin Sans";
  padding: 25px 0;
  font-weight: bold;
}
.sidebarSection .sidebar p {
  margin: 0;
}
.sidebarSection .sidebar ul {
  margin-left: 25px;
}
.sidebarSection .sidebar .sidebarImg {
  position: relative;
  right: 80%;
  bottom: 30px;
}

.sidebarText span {
  color: #074115;
  font-weight: bold;
  font-style: italic;
}

.sidebarList {
  padding-bottom: 25px;
}
.sidebarList li {
  color: #0e902d;
}
.sidebarList li span {
  color: #2c2c2c;
}

.blogPost {
  margin-top: 400px;
}
.blogPost h4 {
  margin: 0;
}

.blogPostSection {
  padding: 0 0 30px 50px;
  border-left: 5px solid #F8E71C;
  border-bottom: 5px solid #F8E71C;
}

.commentSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.commentSection .comments,
.commentSection .formContainer {
  width: 65%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.commentSection .formContainer {
  margin-bottom: 100px;
}
.commentSection .contactForm {
  padding: 0;
}
.commentSection .contactForm .name,
.commentSection .contactForm .email,
.commentSection .contactForm .message {
  background-color: #F0EFED;
}

.comments {
  padding-left: 50px;
}
.comments p {
  margin-top: 0;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
}
.comment .commentImg {
  margin: 5px 15px 0 0;
}

.date {
  font-family: "Josefin Sans";
  color: #074115;
  font-weight: bold;
  margin-bottom: 0;
}

.commentTitle h6 {
  margin: 50px 0;
}

.author {
  color: #074115;
  font-style: italic;
  margin: 0 0 50px 0;
}
.author span {
  font-weight: bold;
}

.navBackground {
  background-color: black;
}

.sidebar {
  position: sticky;
  top: 0;
}

@media (max-width: 1100px) {
  h1 {
    padding-left: 100px;
  }

  .uniquePlantsImg {
    top: 150px;
  }

  .blogImg .imgContainer {
    position: static;
    max-width: 100%;
  }

  .blogPost {
    margin-top: 50px;
  }
}
@media (max-width: 960px) {
  h1 {
    padding-left: 0;
  }

  .upcomingWorkshop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .uniquePlants {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .upcomingWorkshop,
.uniquePlants {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .upcomingWorkshop .upcomingWorkshopText,
.upcomingWorkshop .uniquePlantsText,
.uniquePlants .upcomingWorkshopText,
.uniquePlants .uniquePlantsText {
    position: static;
    text-align: center;
  }
  .upcomingWorkshop .upcomingWorkshopText,
.uniquePlants .upcomingWorkshopText {
    padding-bottom: 100px;
  }

  .upcomingWorkshopImg {
    padding-top: 50px;
  }

  .uniquePlantsImg,
.upcomingWorkshopImg {
    position: static;
  }

  .founder .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .founderText {
    max-width: 100%;
    padding-top: 50px;
  }

  .sidebarSection .sidebar .sidebarImg {
    right: 100%;
  }

  .contactArea .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 50px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactArea .formContainer {
    position: static;
    width: 75%;
  }
  .contactArea .address {
    padding-top: 50px;
    text-align: center;
  }
}
@media (max-width: 860px) {
  h1 {
    font-size: 6rem;
  }

  .imgContainer img {
    -o-object-fit: contain;
       object-fit: contain;
  }

  .sidebarSection .sidebar .sidebarImg {
    right: 160%;
  }
}
@media (max-width: 750px) {
  .sidebarSection .sidebar {
    width: 100%;
  }
  .sidebarSection .sidebar .sidebarImg {
    visibility: collapse;
  }

  .sidebarSpacing {
    position: relative;
    top: -400px;
  }

  .contactArea .formContainer {
    width: 100%;
  }
}
@media (max-width: 680px) {
  h1 {
    font-size: 4rem;
    margin-top: 50px;
  }

  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav ul li {
    padding: 15px 0;
  }
  nav ul li a {
    padding: 15px 100px;
  }
  nav ul li p {
    padding-right: 0;
  }

  .imgContainer {
    visibility: hidden;
  }

  .upcomingWorkshopImg img,
.uniquePlantsImg img {
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .row1,
.row2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .row1 .community,
.row1 .getInTouch,
.row2 .community,
.row2 .getInTouch {
    padding-left: 0;
  }

  .galleryContainer ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .galleryContainer ul li {
    padding: 10px 0;
    text-align: center;
  }

  .blogImg .imgContainer {
    visibility: visible;
  }

  .sidebarSection {
    width: 0%;
  }

  .sidebar {
    visibility: collapse;
  }

  .blogPostSection {
    width: 100%;
    border: none;
    padding: 0 0 30px 0;
  }

  .commentSection .comments,
.commentSection .formContainer {
    width: 100%;
    padding-left: 0;
  }

  .blogPage,
.blogMain {
    overflow-x: hidden;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 3rem;
  }

  .formDiv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .formDiv .name,
.formDiv .email {
    width: 100%;
  }

  .commentImg img {
    visibility: collapse;
    width: 0;
  }

  .contactForm {
    padding: 50px 10px;
  }
}